// Here you can add other styles
.error-msg {
  color: #ff4747;
}
.data-show {
  width: 100%;
  padding: 0.375rem 0.75rem;
  min-height: 38px px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--cui-input-color, rgba(44, 56, 74, 0.95));
  background-color: var(--cui-input-bg, #fff);
  background-clip: padding-box;
  border: 1px solid var(--cui-input-border-color, #b1b7c1);
  border-radius: 0.25rem rem;
}
.show-img img {
  width: 100px;
  height: 100px;
  border-radius: 50em;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0 10px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -1px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring.page {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  margin: 0 10px;
}
.lds-ring.page div {
  width: 35px;
  height: 35px;
  border: 2px solid #405adb;
  border-color: #405adb transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
